 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.background {
  background-color: rgb(241 245 249 / 1);
}

.App {
  margin: auto;
  min-height: 100vh;
}

.tab {
  margin: 10% auto;
  width: 80%;
  height: auto;
  padding: 10px;
}

.tab h1 {
  text-align: center;
  padding: 15px 0;
}

.btn-primary {
  float: right  !important;
}


.form {
  height: auto;
  min-height: 200px;
}

.material-symbols-outlined {
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin: 30px 20px;
  padding: 6px;

  color: blue;
  cursor: pointer;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-symbols-outlined:hover {
  transform: scale(1.03);
}

@media only screen and (max-width: 768px) {
  .material-symbols-outlined {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) and (min-width: 240px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .form {
    height: auto;
    min-height: 470px;
  }
}
